
@{
    ViewBag.Title = "ShowAllAccomodationsByUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Booking.Models.Accomodation>

<h2 style="text-align: center">Svi moji postojeci smestaji</h2>

<div class="cardsWrapper row">
    @{
        foreach (var accomodation in Model)
        {
            <div class="card col-lg-4">
                <h4 style="display:inline-block; width: 53%;"> @accomodation.Name</h4>
                <a style="display:inline-block; width: 45%;" class="btn btn-default" href='@Url.RouteUrl("show_rooms", new { accomodationId = accomodation.Id, type = true })'>Detalji <br /><i class="fas fa-bed"></i></a>
                <h5> @accomodation.Country</h5>
                <br />
                <div>
                    <b>Adresa: </b>@accomodation.Address
                </div>
                <a class="btn btn-block btn-default" href='@Url.RouteUrl("add_new_image", new { accomodationId = accomodation.Id })'>
                    Dodaj fotografiju  <i style="margin-left:5px;" class="fa fa-image" aria-hidden="true"></i>
                </a>
                <a class="btn btn-block btn-success" style="margin-top:10px;" href='@Url.RouteUrl("add_new_room", new { accomodationId = accomodation.Id })'>Dodaj novu smestajnu jedinicu</a>
                @Html.ActionLink("Obrisi ovaj smestajni objekat", "DeleteAccomodation", "Accomodation", new { id = accomodation.Id }, new { @class = "btn btn-block btn-danger" })

            </div>

        }
    }
</div>



